@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}

@theme {
  --color-primary: #5f6fff;
}

.active hr {
  @apply block;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}

::-webkit-scrollbar {
  @apply hidden;
}
